* { margin: 0; padding: 0; }
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
@media (max-width: 600px){
    .pagewrapper, body, nav, .topage{
        width: 100%;
    }
    .topage > h1{
        font-size: 2rem;
    }
    /*change*/
    .artist-section > h2{
        font-size: 24px;
        font-weight: 600;
    }
     .artist-section > p{
        font-size: small;
    }
    .introducingart{
        white-space: nowrap;
       overflow-x: scroll;
       /* width: 100%;*/
    }
    .introducingart > h2{
        font-size: 24px;
    }
    .introducingart > .gallery > .border > img{
        max-width: 100%;
        width: auto;
        height: auto;
    }
    .contact-section > .contactp{
        font-size: large;
    }
    .contact-section > .contact-links > a{
        font-size: medium;
    }
    /*ccccc*/
    p{
        font-size: smaller;
    }
}
nav{
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.navlist li{
padding: 8px;
font-style: italic;
font-weight: 900;
font-family: 'Courier New', cursive;
display: list-item;
list-style-type: circle;
list-style-position: inside;
float: right;
}

nav li a{
    color: aliceblue;
}

a{
 text-decoration: none;
 color: black;
}

h1{ 
    display: inline;
    font-family: 'Brush Script MT', cursive;
    font-size: 5rem;
    text-decoration: underline;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: large;
    font-weight: 600;
}

h3{
    color:  gold;
    text-align: left;
    font-size: 20px;
    padding-bottom: 6px;
    padding-top: 8px;
    background-color: darkblue;
    
}

.greetings{
    font-size: 20px;
    text-align: left;
    background-color: rgba(255, 191, 0, 0.741);
}

@media (max-width: 600px){
 .artist-section > .greetings{
        font-size: 13px;
    }
    h3{
        font-size: 15px;
    }
    .artist-section > .selfie{
        height: 320px;
        width: 320px;
    }
    .artist-section > .name{
      margin-bottom: 13px;
    }
    .pagewrapper > .artist-section{
        padding-top: 20px;
    }
    .pagewrapper > .introducingart{
        padding-top: 50px;
    }
}
.topage{
    background-color: darkblue;
    text-align: center;
    box-shadow: 4px 8px 6px 4px rgba(0, 187, 255, 0.837);
    width: 100%;
    position: fixed;
    top: 0;
    color: aliceblue;
}
/*Artist-sectoin*/
.name{
font-weight: 600;
font-size: 3rem; 
font-family:'Courier New', Courier, monospace;
color: aliceblue;
margin-bottom: 30px;
padding-top: 70px;
}

.artist-section{
    background-image: url("pexels-rovenimagescom-949587.jpg");
    background-size: 750px;
    width: 100%;
    justify-content: center;
    text-align: center;
    border-bottom: rgba(0, 187, 255, 0.837) solid 4px;
    color: aliceblue;
    height: 88vh;
    padding: 100px 0px;
}

/*Gallery Section*/

.introducingart{
background-color: black;
 text-align: center;
 color: white;
 width: 100%;
 padding-top: 130px;
 height: 70vh;
 overflow: scroll;
}
.galleryhead{
    font-family:'Courier New', Courier, monospace;
    color: aliceblue;
    font-size: 3rem; 
    padding-bottom: 30px;
    text-decoration: overline;
}
.gallery{
    /*display: flex;
    flex-direction: row;
    justify-content: center;*/
   display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 4px; 
}
.gallery img{
  display: block;
  /*height: 350px;*/
  object-fit: cover;
  max-width: 100%;
}
.gallery div{
   border-top: green solid 6px;
   background-color: darkblue;
}
.image1{
    border-left: green solid 6px;
   
 }
 .image2{
     border-left: green solid 6px;
 }
 .image3{
    border-left: green solid 6px;
    border-right: green solid 6px;
 }
/*Contact-section8*/
.contact-section{
    text-align: center;
    border-top: green solid 6px;
    box-shadow:  0px 0px 10px 10px lightblue;
    
}
.contactp{
padding: 10px;
}
.contact-links{
    font-size: 20px;
}
