* { margin: 0; padding: 0; }
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
@media screen and (max-width: 600px){
    .pagewrapper, body, nav, .topage, img{
        width: 100%;
    }
    .topage > h1{
        font-size: 2rem;
    }
    /*change*/
    .artist-section > h2{
        font-size: 24px;
        font-weight: 600;
    }
     .artist-section > p{
        font-size: small;
    }
    .introducingart > h2{
        font-size: 24px;
    }
    .introducingart > .gallery > .border > img{
        max-width: 100%;
        width: auto;
        height: auto;
    }
     .introducingart > .gallery > .border > p{
        font-size: small;
    }
      .contact-section > .contact-section-header > h2{
        font-size: 18px;
    }
    .contact-section > .contact-section-header >p{
        font-size: small;
    }
    .contact-section > .contact-links > a{
        font-size: small;
    }
    /*ccccc*/
    p{
        font-size: smaller;
    }
    .artist-section{
        width: 100%;
        font-size: 1rem;
    }
}
nav{
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.navlist li{
display: inline;
padding: 2px;
font-style: italic;
font-weight: 900;
font-family: 'Courier New', cursive;
}
a{
 text-decoration: none;
 color: black;
}
nav li a{
    color: aliceblue;
}
h1{ 
    display: inline;
    font-family: 'Brush Script MT', cursive;
    font-size: 5rem;
    text-decoration: underline;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: large;
    font-weight: 600;
}

.greetings{
    font-size: 25px;
}
.topage{
    background-color: darkblue;
    text-align: center;
    box-shadow: 4px 8px 6px 4px rgba(0, 187, 255, 0.837);
    width: 100%;
    position: fixed;
    top: 0;
    color: aliceblue;
}
/*Artist-sectoin*/
.name{
font-weight: 600;
font-size: 3rem; 
font-family:'Courier New', Courier, monospace;
color: aliceblue;
margin-bottom: 30px;
padding-top: 70px;
}

.artist-section{
    background-image: url("pexels-rovenimagescom-949587.jpg");
    background-size: 750px;
    width: 100%;
    justify-content: center;
    text-align: center;
    border-bottom: red solid 4px;
    color: aliceblue;
    height: 70vh;
    padding: 100px 0px;
    margin-top: 35px;
}
img{
    height: 400px;
    width: 320px;
    object-fit: cover;
}
/*Gallery SEction*/

.introducingart{
background-color: black;
 text-align: center;
 color: white;
 height: 60vh;
 width: 100%;
 padding-top: 130px;
 height: 70vh;
}
.galleryhead{
    font-size: 3rem; 
    padding-bottom: 30px;
    text-decoration: overline;
}
.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.gallery img{
  display: block;
  height: 350px;
  max-width: 100%;
}
.gallery div{
   border: green solid 6px;
   background-color: darkblue;
}
.image1{
    border-left: green solid 6px;
   
 }
 .image2{
     border-left: green solid 6px;
 }
 .image3{
    border-left: green solid 6px;
    border-right: green solid 6px;
 }
/*Contact-section8*/
.contact-section{
    text-align: center;
    border-top: green solid 6px;
    box-shadow:  0px 0px 10px 10px lightblue;
    
}
.contactp{
padding: 10px;
}
.contact-links{
    font-size: 20px;
}
